extends ../layout

block content
  #main-wrapper(data-theme='light', data-layout='vertical', data-navbarbg='skin6', data-sidebartype='full', data-sidebar-position='fixed', data-header-position='fixed', data-boxed-layout='full')
    include ../partials/header
    include ../partials/sidebar

    .page-wrapper
      form(id='announcementForm', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='uuid', id='uuid' value=announcement.uuid)
        input(type='hidden', name='mailStatus', id='mailStatus' value=announcement.mailStatus)

        .page-breadcrumb
          .row
            .col-md-6.col-lg-5.col-xl-4.align-self-center
              h4.page-title.text-truncate.text-dark.font-weight-medium.mb-1 #{__('Announcements')}
              .d-flex.align-items-center
                nav(aria-label='breadcrumb')
                  ol.breadcrumb.m-0.p-0
                    li.breadcrumb-item
                      a.text-muted.active-link(href='/') #{__('Home')}
                    li.breadcrumb-item
                      a.text-muted.active-link(href='/announcements') #{__('Announcements')}
                    li.breadcrumb-item.text-muted.active(aria-current='page') #{__('Announcement')}

            .col-md-7.col-lg-8
              .row.justify-content-end
                if announcement.uuid
                  //if user.rolePermissionAll.includes('/v1/announcement_POST')
                  .col-sm-4.col-lg-3
                    button.form-control.btn-rounded.btn.waves-effect.waves-light.btn-primary.font-12(type='submit', name='action', value='new')
                      i.fas.fa-plus
                      |  #{__('New')}
                  //if user.rolePermissionAll.includes('/v1/announcement/{uuid}_PUT')
                  .col-sm-4.col-lg-3
                    button.form-control.btn-rounded.btn.waves-effect.waves-light.btn-warning.font-12(type='submit', name='action', value='update')
                      i.far.fa-edit
                      |  #{__('Update')}
                  //if user.rolePermissionAll.includes('/v1/announcement/{uuid}_DELETE')
                  .col-sm-4.col-lg-3
                    button.form-control.btn-rounded.btn.waves-effect.waves-light.btn-danger.font-12(id="deleteRecord",type='submit', name='action', value='delete')
                      i.fa.fa-trash-alt
                      |  #{__('Delete')}
                else
                  .col-sm-4.col-lg-3
                    button.form-control.btn-rounded.btn.waves-effect.waves-light.btn-success.font-12(type='submit', name='action', value='save')
                      i.fas.fa-save
                      |  #{__('Save')}
          .row.mt-4.ml-0
            div#info.text-primary&attributes({'data-html': info})
        .container-fluid.p-3
          .card
            .card-body

              .row
                .col-md-3
                  .form-group
                    label.col-form-label(for='subject') #{__('Subject')}
                    input.form-control(type='text', name='subject', id='subject', placeholder=__('Subject'), value=announcement.subject)
                .col-md-3

              //.row
              //  .col-md-6
              //    .form-group
              //      label.col-form-label(for='message') #{__('Message')}
              //      textarea.form-control(type='textarea', rows=10, wrap=true, name='message', id='message', placeholder=__('Message'))
              //        =announcement.message
              .row
                .col-md-6
                  .form-group
                    label.col-form-label(for='message') #{__('Message')}
                    textarea.form-control(type='textarea', rows=20, wrap=true, name='message', id="summernote", placeholder=__('Message'))
                      =announcement.message

              .row
                .col-md-6
                  .form-group
                      .form-group.position-left
                          label.col-form-label(for='enablePopup') #{__('EnablePopup')}
                          br
                          input.form-control(type='checkbox' name='enablePopup' id='enablePopup' checked=announcement.enablePopup === 1 data-toggle='toggle' data-on=__('Active') data-off=__('Passive') data-style="ios" data-size="small")

                      .form-group.position-left
                        label.col-form-label( for='enableAccept') #{__('EnableAccept')}
                        br
                        input.form-control(type='checkbox' name='enableAccept' id='enableAccept' checked=announcement.enableAccept === 1 data-toggle='toggle' data-on=__('Active') data-off=__('Passive') data-style="ios" data-size="small")

              .row
                .col-md-6
                  .form-group
                    .d-flex.justify-content-between
                      label.col-form-label(for='subsidiaryUuIdSelect') #{__('Subsidiaries')}
                    .row
                      .justify-content-end
                        input#financialToggle.ml-3&attributes({'data-value': subsidiaries})(type='checkbox' , value='1' , name='financial' , checked="true")
                        label.col-form-label.mb-1 #{__('Financial')}
                        input#nonFinancialToggle.ml-5&attributes({'data-value': subsidiaries})(type='checkbox' , value='1' , name='nonFinancial' , checked="true")
                        label.col-form-label.mb-1 #{__('NonFinancial')}
                    select.financialList.js-multiple-select.js-states.form-control.customSelectionClass(multiple='multiple', name='subsidiaryUuIds', id='subsidiaryUuIdSelect')
                          if subsidiaries && announcement.subsidiaryUuIds != null
                            each subsidiary in subsidiaries
                              option(value=subsidiary.uuid, selected=announcement.subsidiaryUuIds.includes(subsidiary.uuid))= subsidiary.formalName
      if announcement.history
        .container-fluid.p-3
          .card
              .card-header.bg-transparent
                .row.align-items-baseline
                  .com-sm-5.col-md-5.col-lg-4.mb-0
                    h5
                      i.fas.fa-info-circle(style="margin-right:5px;margin-left:-10px;color:royalblue")
                        | #{__('Data History')}

              .card-body
                  .col-lg-12
                    .col-form-label.bold
                      .table-responsive.dragscroll
                        table#roleTable.multi-col-order.table.table-striped.table-bordered.display.no-wrap(style='width:100%')
                          thead
                            tr
                              th.notexport
                              th #{__('Subject')}
                              th #{__('Last Updated By')}
                              th #{__('Last Updated Time')}
                            tbody
                              each item in announcement.history
                                tr
                                  td
                                  td=item.subject
                                  td=item.lastUpdaterName
                                  td=item.lastUpdatedTime

  script.
    $('#deleteRecord').on('click', function (e) {
      e.preventDefault();
      removeConfirm("announcementForm");
    });