extends ../layout

block content
  #main-wrapper(data-theme='light', data-layout='vertical', data-navbarbg='skin6', data-sidebartype='full', data-sidebar-position='fixed', data-header-position='fixed', data-boxed-layout='full')
    include ../partials/header

    .page-wrapper
      .container.p-5
        .row
          .col-12
            .card
              .card-body
                .table-responsive
                  table.multi-col-order.table.table-striped.table-bordered.display.no-wrap(style='width:100%')
                    thead
                      tr
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='dataDate', data-searchable='on', data-sortable='on')  #{__('Data Date')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='workDate', data-searchable='on', data-sortable='on')  #{__('Work Date')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h0', data-searchable='on', data-sortable='on')  #{__('00:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h1', data-searchable='on', data-sortable='on')  #{__('01:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h2', data-searchable='on', data-sortable='on')  #{__('02:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h3', data-searchable='on', data-sortable='on')  #{__('03:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h4', data-searchable='on', data-sortable='on')  #{__('04:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h5', data-searchable='on', data-sortable='on')  #{__('05:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h6', data-searchable='on', data-sortable='on')  #{__('06:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h7', data-searchable='on', data-sortable='on')  #{__('07:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h8', data-searchable='on', data-sortable='on')  #{__('08:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h9', data-searchable='on', data-sortable='on')  #{__('09:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h10', data-searchable='on', data-sortable='on')  #{__('10:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h11', data-searchable='on', data-sortable='on')  #{__('11:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h12', data-searchable='on', data-sortable='on')  #{__('12:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h13', data-searchable='on', data-sortable='on')  #{__('13:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h14', data-searchable='on', data-sortable='on')  #{__('14:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h15', data-searchable='on', data-sortable='on')  #{__('15:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h16', data-searchable='on', data-sortable='on')  #{__('16:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h17', data-searchable='on', data-sortable='on')  #{__('17:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h18', data-searchable='on', data-sortable='on')  #{__('18:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h19', data-searchable='on', data-sortable='on')  #{__('19:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h20', data-searchable='on', data-sortable='on')  #{__('20:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h21', data-searchable='on', data-sortable='on')  #{__('21:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h22', data-searchable='on', data-sortable='on')  #{__('22:00')}
                        th.col-2(style="background-color:#F5F5F5;min-width: 0!important; padding: 6px!important;" data-name='h23', data-searchable='on', data-sortable='on')  #{__('23:00')}
                    if dailyIntensities
                      tbody
                        each item in dailyIntensities.content
                          tr
                            td.text-center=item.dataDate != null ? item.dataDate : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.workDate != null ? item.workDate : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h0  != null ? item.h0 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h1  != null ? item.h1 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h2  != null ? item.h2 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h3  != null ? item.h3 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h4  != null ? item.h4 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h5  != null ? item.h5 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h6  != null ? item.h6 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h7  != null ? item.h7 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h8  != null ? item.h8 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h9  != null ? item.h9 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h10 != null ? item.h10 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h11 != null ? item.h11 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h12 != null ? item.h12 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h13 != null ? item.h13 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h14 != null ? item.h14 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h15 != null ? item.h15 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h16 != null ? item.h16 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h17 != null ? item.h17 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h18 != null ? item.h18 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h19 != null ? item.h19 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h20 != null ? item.h20 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h21 != null ? item.h21 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h22 != null ? item.h22 : 'N/A'
                            td.text-center(style="background-color: white;min-width: 0!important; padding: 6px!important;")=item.h23 != null ? item.h23 : 'N/A'
                +pagination(dailyIntensities)
              script.
                  function openPopupDocuments() {
                      getFilesWindow("DAILYINTENSITIES");}