extends ../layout

block content
  #main-wrapper(data-theme='light', data-layout='vertical', data-navbarbg='skin6', data-sidebartype='full', data-sidebar-position='fixed', data-header-position='fixed', data-boxed-layout='full')
    include ../partials/header
    include ../partials/sidebar

    .page-wrapper
      .page-breadcrumb
        .row
          .col-md-6.col-lg-5.col-xl-4.align-self-center
            h4.page-title.text-truncate.text-dark.font-weight-medium.mb-1 #{__('Parameters')}
             if(user.rolePermissionAll.includes('/v1/documents/files/{screenCode}_GET'))
              a.statistic-btn(href="#",onclick=`openPopupDocuments()`)
                .far.fa-file
            .d-flex.align-items-center
              nav(aria-label='breadcrumb')
                ol.breadcrumb.m-0.p-0
                  li.breadcrumb-item
                    a.text-muted.active-link(href='/') #{__('Home')}
                  li.breadcrumb-item.text-muted.active(aria-current='page') #{__('Parameters')}
          .col-md-6.col-lg-7.col-xl-8
              form(id='parameter', method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  .row.justify-content-end
                    .col-sm-6.col-md-12.col-lg-6
                          .row.justify-content-end
                              .col-6
                                  button.form-control.btn-rounded.btn.waves-effect.waves-light.btn-primary.font-12(type='submit', name='action', value='new')
                                    i.fas.fa-plus
                                    |  #{__('New')}
                              .col-6
                                  button.exportToExcel.form-control.btn-rounded.btn.waves-effect.waves-light.btn-primary.font-12(type='button', name='export', value='xlsx')
                                    i.fas.fa-download
                                    |  #{__('Export')}
        .row.mt-4.ml-0
            div#info.text-primary&attributes({'data-html': info})
      .container-fluid.p-3
        .row
          .col-12
            .card
              .card-body
                .table-responsive.dragscroll
                  table.multi-col-order.table.table-striped.table-bordered.display.no-wrap(style='width:100%')
                    thead
                      tr
                        th.notexport
                        th.status(data-name='status', data-searchable='on', data-sortable='on') #{__('Status')}
                        th(data-name='key', data-searchable='on', data-sortable='on') #{__('Key')}
                        th(data-name='value', data-searchable='on', data-sortable='on') #{__('Value')}
                        th(data-name='description', data-searchable='on', data-sortable='on') #{__('Description')}
                    if parameters
                      tbody
                        each parameter in parameters.content
                          tr
                            td.text-center
                              a(href='/parameter/' + parameter.uuid)
                                i.fas.fa-eye.fa-2x
                            td(style='font-weight:bold; text-align:center; color:  ' +  getStatusColor(parameter.status))=status(parameter.status)
                            td=parameter.key
                            td=parameter.value
                            td=parameter.description
                +pagination(parameters)
              script.
                  function openPopupDocuments() {
                      getFilesWindow("PARAMETERS");}