extends ../layout

block content
    #main-wrapper(data-theme='light', data-layout='vertical', data-navbarbg='skin6', data-sidebartype='full', data-sidebar-position='fixed', data-header-position='fixed', data-boxed-layout='full')
        include ../partials/header
        include ../partials/sidebar

        .page-wrapper
            .page-breadcrumb
                .row
                    .col-md-6.col-lg-5.col-xl-4.align-self-center
                        h4.page-title.text-truncate.text-dark.font-weight-medium.mb-1 #{__('Data Model')}
                        .d-flex.align-items-center
                            nav(aria-label='breadcrumb')
                                ol.breadcrumb.m-0.p-0
                                    li.breadcrumb-item
                                        a.text-muted.active-link(href='/') #{__('Home')}
                                    li.breadcrumb-item
                                        a.text-muted.active-link(href='/data-models') #{__('Data Models')}
                                    li.breadcrumb-item.text-muted.active(aria-current='page') #{__('Data Model')}
                    .col-md-6.col-lg-7.col-xl-8
                        .row.justify-content-end
                            .col-sm-6.col-md-12.col-lg-6
                                .row.justify-content-end
                                    .col-6
                                        button.exportToExcel.form-control.btn-rounded.btn.waves-effect.waves-light.btn-primary.font-12(type='button', name='export', value='xlsx')
                                            i.fas.fa-download
                                            |  #{__('Export')}
                .row.mt-4.ml-0
                    div#info.text-primary&attributes({'data-html': info})
            .container-fluid.p-3
                .row
                    .col-12
                        .card
                            .card-body
                                .table-responsive.dragscroll
                                    table.multi-col-order.table.table-striped.table-bordered.display.no-wrap(style='width:100%')
                                        thead
                                            tr
                                                th #{__('Column')}
                                                th #{__('Model')}
                                                th #{__('Model')} (#{__('camelCase')})
                                                th #{__('Type')}
                                                th #{__('Description')}
                                        if table.columns
                                            tbdoy
                                                each column in table.columns
                                                    - colName = __(toCamelCase(column.name)) == toCamelCase(column.name) ? (__(toUpperCamelCase(column.name)) == toUpperCamelCase(column.name) ? 'N/A' : __(toUpperCamelCase(column.name))) : __(toCamelCase(column.name))
                                                    - desc = __('description.' + column.name) == ('description.' + column.name) ? 'N/A' : __('description.' + column.name)
                                                    tr
                                                        td(style='background-color: ' + ('N/A' == colName ? 'red' : 'white'))=colName
                                                        td=column.name
                                                        td=toCamelCase(column.name)
                                                        td=column.type
                                                        td(style='background-color: ' + ('N/A' == desc ? 'red' : 'white'))=desc
