if user
    nav.rpad-sidebar#rpadSidebar
        .rpad-sidebar__header
            a.rpad-sidebar__logo(href='/rpa-dashboard')
                img(src='/assets/images/linktera-robotics-logo.png' alt='Linktera Robotics' style='height:52px; width:auto;')
            button.rpad-sidebar__toggle#sidebarToggle(type='button' title='Menüyü Daralt')
                i.svg-icon(data-feather='menu')

        .rpad-sidebar__nav
            .rpad-sidebar__section
                .rpad-sidebar__section-title VERİLER
                ul.rpad-sidebar__menu
                    if user.roles.includes('SUB_USER') || user.roles.includes('SUB_ADMIN') || user.roles.includes('ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/rpa-dashboard' class=(page === 'rpaDashboard' ? 'active' : ''))
                                i.svg-icon(data-feather='grid')
                                span RPA Dashboard
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/data-list' class=(page === 'dataList' ? 'active' : ''))
                                i.svg-icon(data-feather='upload-cloud')
                                span #{__('DATA LIST')}
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/upload' class=(page === 'financialManagement' ? 'active' : ''))
                                i.svg-icon(data-feather='upload')
                                span #{__('Data Upload')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('asset-acc')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/asset-accs')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Asset Accounts')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('asset-item')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/asset-items')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Asset Items')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('liability-acc')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/liability-accs')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Liability Accounts')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('liability-item')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/liability-items')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Liability Items')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('customers')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/customers')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Customers')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('collateral')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/collaterals')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Collaterals')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('currency-table')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/currency-tables')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Currency Table')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('security')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/securities')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Securities')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('swap')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/swaps')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Swaps')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('repo')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/repos')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Repos')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('option')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/options')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Options')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('payment-schedule')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/payment-schedules')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Payment Schedules')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('net-exposure')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/net-exposures')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Net Exposures')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('netting-agreement')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/netting-agreements')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Netting Agreements')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('fx-futures')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/fx-futures')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Fx Futures')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('degree')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/degrees')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Ratings')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('intragroup-transaction')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/intragroup-transactions')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Intragroup Transactions')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('ciu-fund-component')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/ciu-fund-components')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Ciu Fund Components')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('ciu-fund-info')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/ciu-fund-infos')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Ciu Fund Infos')}
                    if user.sideMenuPermission && user.sideMenuPermission.includes('acct-placed-collateral')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/acct-placed-collaterals')
                                i.svg-icon(data-feather='file-text')
                                span #{__('Acct Placed Collaterals')}
                    if user.roles.includes('SUB_ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/deadlines' class=(page === 'deadlines' ? 'active' : ''))
                                i.svg-icon(data-feather='calendar')
                                span #{__('Deadlines')}
                    if user.roles.includes('SUB_ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/jobs' class=(page === 'jobs' ? 'active' : ''))
                                i.svg-icon(data-feather='activity')
                                span #{__('RPAProcesses')}
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/queue' class=(page === 'queue' ? 'active' : ''))
                                i.svg-icon(data-feather='list')
                                span #{__('Queues')}
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/robots' class=(page === 'robots' ? 'active' : ''))
                                i.svg-icon(data-feather='server')
                                span #{__('Robots')}

            .rpad-sidebar__section
                .rpad-sidebar__section-title AYARLAR
                ul.rpad-sidebar__menu
                    if user.roles.includes('ADMIN') || user.roles.includes('SUB_ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/users' class=(page === 'users' ? 'active' : ''))
                                i.svg-icon(data-feather='users')
                                span #{__('Users')}
                    if user.roles.includes('ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/companies' class=(page === 'companies' ? 'active' : ''))
                                i.svg-icon(data-feather='briefcase')
                                span #{__('Companies')}
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/error-logs' class=(page === 'errorLogs' ? 'active' : ''))
                                i.svg-icon(data-feather='terminal')
                                span #{__('Error Logs')}
                    if user.roles.includes('SUB_ADMIN')
                        li.rpad-sidebar__item
                            a.rpad-sidebar__link(href='/graph-settings' class=(page === 'graphSettings' ? 'active' : ''))
                                i.svg-icon(data-feather='sliders')
                                span #{__('Update Sorting')}

        .rpad-sidebar__profile
            if user.img
                img.rpad-sidebar__avatar(src="data:image/jpeg;base64," + user.img alt=user.name)
            else
                .rpad-sidebar__avatar-placeholder
                    span= user.name ? user.name[0].toUpperCase() : 'U'
            .rpad-sidebar__user-info
                span.rpad-sidebar__user-name= user.name + ' ' + user.surname
                span.rpad-sidebar__user-role= user.roles ? user.roles[0] : ''
            a.rpad-sidebar__logout(href='/logout' title='Çıkış Yap')
                i.svg-icon(data-feather='log-out')

    script.
        (function() {
            function initRpadSidebar() {
                var $sidebar = $('#rpadSidebar');
                var $pageWrapper = $('.page-wrapper');
                var $toggle = $('#sidebarToggle');
                if (!$sidebar.length || !$toggle.length) return;

                var sidebarCollapsed = localStorage.getItem('rpadSidebarCollapsed') === 'true';
                $sidebar.toggleClass('rpad-sidebar--collapsed', sidebarCollapsed);
                $pageWrapper.toggleClass('rpad-sidebar-collapsed', sidebarCollapsed);

                $toggle.off('click.rpadSidebar').on('click.rpadSidebar', function() {
                    sidebarCollapsed = !sidebarCollapsed;
                    localStorage.setItem('rpadSidebarCollapsed', sidebarCollapsed);
                    $sidebar.toggleClass('rpad-sidebar--collapsed', sidebarCollapsed);
                    $pageWrapper.toggleClass('rpad-sidebar-collapsed', sidebarCollapsed);
                    if (typeof feather !== 'undefined') feather.replace();
                });

                if (typeof feather !== 'undefined') feather.replace();
            }

            $(window).on('load', initRpadSidebar);
        })();
